<div class="requesting-overlay" *ngIf="is_requesting">
  <i class="fas fa-5x fa-sync-alt fa-spin" aria-hidden="true"></i>
  <fa-icon [icon]="faSpin" size="5x" [spin]="true"></fa-icon>
</div>
<div class="container">
  <div class="page" *ngIf="is_event">
    <app-register-page-event [event]="event"></app-register-page-event>
  </div>
  <div class="error" *ngIf="is_error">
    <app-register-error [request]="request"></app-register-error>
  </div>
  <div class="not-found" *ngIf="is_404">
    <app-register-not-found></app-register-not-found>
  </div>
</div>
