<div class="requesting-overlay" *ngIf="is_requesting">
  <i class="fas fa-5x fa-sync-alt fa-spin" aria-hidden="true"></i>
  <fa-icon [icon]="faSpin" size="5x" [spin]="true"></fa-icon>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      Efetuar Inscrição
    </div>
    <div class="card-body">
      <form #form="ngForm" (submit)="onSubmit()">
        <h3>Enxadrista:</h3>
        <h5>Nome: {{player.name}}</h5>
        <h5>Data de Nascimento: {{player.birthday}}</h5>
        <h5>ID FIDE: {{player.fide_id}}</h5>
        <h5>ID CBX: {{player.cbx_id}}</h5>
        <h5>ID LBX: {{player.lbx_id}}</h5>
        <hr/>

        <div class="alert alert-warning">
          <h5>Verifique a categoria da inscrição:</h5>
          <label class="field-required">Categoria:</label>
          <select2 [data]="categories_list" [value]="this.category_id" name="category_id" class="form-control"
            (update)="updateCategory($event)"> </select2>
          <label class="field-required"><input type="checkbox" id="inscricao_categoria_conferida" [value]="accepts.category" (change)="updateAcceptCategory($event)"> Categoria conferida
            *</label><br />
        </div>


        <label class="field-required">País:</label>
        <select2
        [data]="countries"
        [value]="this.country_id"
        name="country_id"
        class="form-control"
        (update)="updateCountry($event)"> </select2>

        <label class="field-required">Estado/Província:</label>
        <select2
        [data]="states"
        [value]="this.state_id"
        name="state_id"
        class="form-control"
        (update)="updateState($event)"> </select2>

        <label class="field-required">Cidade:</label>
        <select2
        [data]="cities"
        [value]="this.city_id"
        name="city_id"
        class="form-control"
        (update)="updateCity($event)"> </select2>

        <label>Clube:</label>
        <select2
          [data]="clubs"
          [value]="this.club_id"
          minCountForSearch="0"
          [customSearchEnabled]="true"
          styleMode="default"
          noResultMessage="Nenhum clube encontrado."
          name="club_id"
          class="form-control"
          (update)="updateClub($event)"
          (search)="searchClubs($event)"> </select2>
          <hr/>

          <h6>Aceites:</h6>
          <label class="field-required">
            <input type="checkbox" name="regulation_accept" [value]="accepts.regulation" (change)="updateAcceptRegulation($event)"> Eu aceito o regulamento do(a) <u>{{event.info.title}}</u> integralmente.
          </label><br />
          <label class="field-required">
            <input type="checkbox" name="xadrezsuico_accept" [value]="accepts.policy" (change)="updateAcceptPolicy($event)" > Eu aceito o termo de uso e a política de privacidade da Plataforma de Gerenciamento de Circuitos de Xadrez - XadrezSuíço
            - Implementada pela Federação de Xadrez do Paraná - FEXPAR.
          </label><br />
          <label class="field-required">
            <input type="checkbox" name="image_accept" [value]="accepts.image" (change)="updateAcceptImage($event)"> Eu (ou Responsável) cedo meus direitos de imagem do Enxadrista aos organizadores do <u>{{event.info.title}}</u> de forma gratuita, a
            título de divulgação em material impresso ou digital em caráter informativo.
          </label><br />

        <button type="submit" class="btn btn-success mt-3">Enviar Inscrição</button>
        <button type="button" class="btn btn-warning mt-3" (click)="returnToSearch()">Retornar a Busca</button>
      </form>
    </div>
  </div>
</div>
