<div class="row mt-2" *ngIf="page === 'search'">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4>Comece digitando o ID, nome ou documento do(a) enxadrista:</h4>
        <form #form="ngForm" (submit)="onSubmit()">
          <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" [(ngModel)]="search" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit"><fa-icon [icon]="faSearch"></fa-icon> Pesquisar</button>
            </div>
          </div>
        </form>
        <p class="text-center"><small>Caso o(a) enxadrista não possua cadastro, <a href="#">acesse esta página</a> e efetue.</small></p>
        <div *ngIf="is_searching" class="text-center">
          <fa-icon [icon]="faSearching" size="4x" [spin]="true" class="default-icon-color"></fa-icon>
        </div>
        <div *ngIf="has_results">
          <hr/>
          <h3>Resultados da Pesquisa por '{{searched}}':</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Nome</th>
                <th>ID</th>
                <th>Nascimento</th>
                <th>ID FIDE</th>
                <th>ID CBX</th>
                <th>ID LBX</th>
                <th>Cidade</th>
                <th>Clube</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of players">
                <td>
                  <button type="button" class="btn btn-success" *ngIf="player.can_register" (click)="registerForm(player.id)">Inscrever</button>
                  <button type="button" class="btn btn-secondary disabled" *ngIf="!player.can_register">Já Inscrito</button>
                </td>
                <td>{{player.name}}</td>
                <td>{{player.id}}</td>
                <td>{{player.birthday}}</td>
                <td>{{player.fide_id}}</td>
                <td>{{player.cbx_id}}</td>
                <td>{{player.lbx_id}}</td>
                <td>{{player.city_name}}</td>
                <td>{{player.club_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2" *ngIf="page === 'update'">
  <app-register-page-event-update-player
  [event]="event"
  [player]="player"
  [fields]="fields"
  (return_to_search_event_emitter)="returnToSearch()"
  (player_updated_event_emitter)="onPlayerUpdated($event)"></app-register-page-event-update-player>
</div>
<div class="row mt-2" *ngIf="page === 'register'">
  <app-register-page-event-inscrever-form
  [event]="event"
  [player]="player"
  [categories]="categories"
  (player_registered_event_emitter)="onPlayerRegistered()"
  (return_to_search_event_emitter)="returnToSearch()"></app-register-page-event-inscrever-form>
</div>
<div class="row mt-2" *ngIf="page === 'not-receiving'">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="error">
          <fa-icon [icon]="faNotReceiving"></fa-icon>
          <h3>Ooops! Inscrições encerradas!</h3>
          <p *ngIf="event.info.registering_status">{{event.info.registering_status}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
