<div class="row">
  <div class="col-md-4">
    <div class="card mt-2">
      <div class="card-body card-timeline">

        <ul class="timeline-1 text-black">
          <li class="event" *ngFor="let timeline of event.info.timeline">
            <h4>{{timeline.text}}</h4>
            <p>{{timeline.datetime}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mt-2">
      <div class="card-body">
        <div class="d-grid gap-2">
          <button class="btn btn-success btn-block btn-lg mr-2" *ngIf="event.tabs.includes('register')" (click)="goToPage('register')">Inscrever-se</button>
          <button class="btn btn-info btn-block btn-lg mr-2" *ngIf="event.tabs.includes('players')" (click)="goToPage('players')">Lista de Inscritos</button>
        </div>
        <hr/>
        <div [innerHtml]="event.info.long_description">
        </div>
      </div>
    </div>
  </div>
</div>
