<ng-template #newClubModelContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Novo Clube</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-new-club-form (club_selected_event_emmiter)="onClubSelected($event)" [is_a_sub_component]="true"></app-new-club-form>
  </div>
</ng-template>
<ng-template #newCityModelContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nova Cidade</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-new-city-form (city_selected_event_emmiter)="onCitySelected($event)" [is_a_sub_component]="true" [input_country_id]="country_id" [input_state_id]="state_id">
    </app-new-city-form>
  </div>
</ng-template>
<ng-template #newStateModelContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Novo Estado/Província</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-new-state-form (state_selected_event_emmiter)="onStateSelected($event)" [is_a_sub_component]="true" [input_country_id]="country_id" [input_state_id]="state_id">
    </app-new-state-form>
  </div>
</ng-template>
<div class="requesting-overlay" *ngIf="is_requesting">
  <i class="fas fa-5x fa-sync-alt fa-spin" aria-hidden="true"></i>
  <fa-icon [icon]="faSpin" size="5x" [spin]="true"></fa-icon>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2">
      <h1>Cadastro de Enxadrista</h1>
      <p>Só preencha este formulário caso você não encontre o enxadrista na página de "<a [routerLink]="['/players']">Pesquisa de Enxadrista</a>" ou no Formulário de Inscrição.</p>
      <hr/>
      <p>
        <ngb-progressbar [value]="step" [max]="6" [animated]="true" type="success" [striped]="true" height="20px"></ngb-progressbar>
      </p>
      <form #form="ngForm" (submit)="onSubmit()">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs">
          <li [ngbNavItem]="1" [disabled]="true">
            <a ngbNavLink>1 - {{tab_names[1]}}</a>
            <ng-template ngbNavContent>
              <div class="form-group mb-2">
                <label for="name" class="field-required">Nome Completo *</label>
                <input name="name" id="name" class="form-control cadastro_enxadrista_input" type="text" [(ngModel)]="field_values['name']"  />
              </div>
              <div class="form-group mb-2">
                <label for="born" class="field-required">Data de Nascimento *</label>
                <input name="born" id="born" class="form-control cadastro_enxadrista_input" type="text" [(ngModel)]="field_values['birthday']"
                 mask="00/00/0000"  [dropSpecialCharacters]="false"  />
              </div>
              <div class="form-group mb-2">
                <label for="sexos_id" class="field-required">Sexo *</label>
                <select2 [data]="sexes" [value]="sex_id" name="sex_id" class="form-control"
                  (update)="updateSex($event)"> </select2>

              </div>
              <div class="form-group mb-2">
                <div class="form-group mb-3">
                  <label for="born_country_id" class="field-required">País de Nascimento *</label>
                  <select2 [data]="countries" [value]="born_country_id" id="born_country_id" name="born_country_id" class="form-control"
                    (update)="updateBornCountry($event)"> </select2>
                </div>
              </div>
              <hr/>
              <button type="button" class="btn btn-success pull-right" (click)="goToPage2()">Próxima Etapa (2 - {{tab_names[2]}})</button>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [disabled]="true">
            <a ngbNavLink>2 - {{tab_names[2]}}</a>
            <ng-template ngbNavContent>
              <div class="alert alert-warning">
                <strong>É OBRIGATÓRIO informar ao menos um documento.</strong> Além disto, poderá haver documentos que são obrigatórios, porém, estes estarão identificados com <strong>*</strong>.<br/>
                <br/>
                O documento informado será <strong>utilizado a fim de Confirmação da Inscrição</strong> - Então informe <strong>documento(s) válido(s)</strong> dentre os que estão listados.
              </div>
              <div id="documentos">
                <p *ngIf="born_country_id > 0 && document_types.length === 0">Não há documentos para este país.</p>

                <p *ngIf="born_country_id === 0 && document_types.length === 0">Você precisa escolher o país de nascimento antes de
                  prosseguir com os documentos.</p>

                <div *ngIf="born_country_id > 0 || document_types.length > 0">
                  <div class="row">
                    <div class="col-md d-grid gap-2" *ngFor="let document_type of document_types">
                      <button type="button" class="btn btn-lg btn-block btn-success"
                        *ngIf="!this.document_types_selected.includes(document_type)" (click)="addSelectedDocumentType(document_type)">
                        Adicionar {{document_type.name}}
                      </button>
                      <button type="button" class="btn btn-lg btn-block btn-danger"
                        *ngIf="this.document_types_selected.includes(document_type) && !document_type.is_required" (click)="removeSelectedDocumentType(document_type)">
                        Remover {{document_type.name}}
                      </button>
                      <button type="button" class="btn btn-lg btn-block btn-danger"
                        *ngIf="this.document_types_selected.includes(document_type) && document_type.is_required" disabled="disabled">
                        {{document_type.name}} (Obrigatório)
                      </button>
                    </div>
                  </div>


                  <div class="form-group mb-3" *ngFor="let document_type of document_types_selected">
                    <!-- if required field-->
                    <label for="document_type_{{document_type.id}}" class="field-required"
                      *ngIf="document_type.is_required">{{document_type.name}} * (Obrigatório)</label>
                    <!-- if not required field -->
                    <label for="document_type_{{document_type.id}}" *ngIf="!document_type.is_required">{{document_type.name}}</label>

                    <input type="text" id="document_type_{{document_type.id}}" name="document_type_{{document_type.id}}"
                      class="form-control" [(ngModel)]="field_values['documents'][document_type.id]" [mask]="document_type.pattern" />
                  </div>
              </div>
            </div>
              <hr/>
              <button type="button" class="btn btn-danger" (click)="backToPage1()">Voltar Etapa (1 - {{tab_names[1]}})</button>
              <button type="button" class="btn btn-success pull-right" (click)="goToPage3()">Próxima Etapa (3 - {{tab_names[3]}})</button>
            </ng-template>
          </li>
          <li [ngbNavItem]="3" [disabled]="true">
            <a ngbNavLink>3 - {{tab_names[3]}}</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-12 mb-2">
                  <div class="alert alert-warning" role="alert">
                    <div class="form-group">
                      <label for="email" class="field-required">E-mail *</label>
                      <input name="email" id="email" class="form-control cadastro_enxadrista_input" type="text" [(ngModel)]="field_values['email']" />
                    </div>
                    <p><strong>IMPORTANTE!</strong> Prefira por <u>um e-mail do <strong>Gmail</strong></u>, visto que os e-mails da
                      Microsoft (Hotmail.com, Outlook.com, Live.com e etc) possuem dificuldades para recebimento dos e-mails.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cellphone_country_id" class="field-required">País do Celular *</label>
                    <select2 [data]="countries" [value]="this.cellphone_country_id" id="cellphone_country_id" name="cellphone_country_id"
                      class="form-control"
                      (update)="updateCellphoneCountry($event)"> </select2>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cellphone" class="field-required">Celular *</label>
                    <input name="cellphone" id="cellphone" class="form-control cadastro_enxadrista_input" type="text" [(ngModel)]="field_values['cellphone']" />
                  </div>
                </div>
              </div>
              <hr/>
              <button type="button" class="btn btn-danger" (click)="backToPage2()">Voltar Etapa (2 - {{tab_names[2]}})</button>
              <button type="button" class="btn btn-success pull-right" (click)="goToPage4()">Próxima Etapa (4 -
                {{tab_names[4]}})</button></ng-template>
          </li>
          <li [ngbNavItem]="4" [disabled]="true">
            <a ngbNavLink>4 - {{tab_names[4]}}</a>
            <ng-template ngbNavContent>
              <div class="alert alert-warning">
                Caso o(a) enxadrista possua cadastro na CBX (Confederação Brasileira de Xadrez), FIDE (Federação Internacional de
                Xadrez) ou então na LBX (Liga Brasileira de Xadrez) é indispensável a informação dos códigos referentes a cada
                entidade para que seja utilizado o Rating do(a) Enxadrista para os Torneios, de acordo com cada Evento.
              </div>

              <div class="row mb-2">
                <div class="col-md-4">
                  <div class="form-group">
                    <h4>CBX</h4>
                    <label for="entities_cbx">Possui cadastro na CBX?</label>
                    <select id="entities_cbx" name="entities_cbx" class="form-select" [(ngModel)]="entities.cbx">
                      <option [value]="0">Não</option>
                      <option [value]="1">Sim</option>
                    </select>
                    <div *ngIf="entities.cbx > 0">
                      <hr/>
                      <label for="cbx_id">Insira seu ID CBX</label>
                      <input name="cbx_id" id="cbx_id" class="form-control cadastro_enxadrista_input" type="text"
                        [(ngModel)]="field_values['cbx_id']" />
                      É possível efetuar a pesquisa de ID CBX pelo site <a href="http://cbx.com.br" target="_blank">http://cbx.com.br</a> -
                      Barra Lateral Direita - Buscar Jogadores.<br />
                      <hr />
                      Caso possua alguma dúvida sobre como encontrar, confira o vídeo tutorial <a href="https://youtu.be/csFzNDomNcw"
                        target="_blank">clicando aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <h4>FIDE</h4>
                    <label for="entities_fide">Possui cadastro na FIDE?</label>
                    <select id="entities_fide" name="entities_fide" class="form-select" [(ngModel)]="entities.fide">
                      <option [value]="0">Não</option>
                      <option [value]="1">Sim</option>
                    </select>
                    <div *ngIf="entities.fide > 0">
                      <hr/>
                      <label for="fide_id">Insira seu ID FIDE</label>
                      <input name="fide_id" id="fide_id" class="form-control cadastro_enxadrista_input" type="text"  [(ngModel)]="field_values['fide_id']"/>
                      É possível efetuar a pesquisa de ID FIDE pelo site <a href="http://ratings.fide.com"
                        target="_blank">http://ratings.fide.com</a> - Search Database - Clique no nome e procure pelo campo "FIDE ID" na
                      página.<br />
                      <hr />
                      Caso possua alguma dúvida sobre como encontrar, confira o vídeo tutorial <a href="https://youtu.be/14PxrkqXtiA"
                        target="_blank">clicando aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <h4>LBX</h4>
                    <label for="entities_lbx">Possui cadastro na LBX?</label>
                    <select id="entities_lbx" name="entities_lbx" class="form-select" [(ngModel)]="entities.lbx">
                      <option [value]="0">Não</option>
                      <option [value]="1">Sim</option>
                    </select>
                    <div *ngIf="entities.lbx > 0">
                      <label for="lbx_id">Insira seu ID LBX</label>
                      <input name="lbx_id" id="lbx_id" class="form-control cadastro_enxadrista_input" type="text" [(ngModel)]="field_values['lbx_id']"/>
                      É possível efetuar a pesquisa de ID LBX pelo site <a href="https://www.lbx.org.br/rating/"
                        target="_blank">https://www.lbx.org.br/rating/</a> - Procure pelo título "Pesquisa Top 1000 LBX". Preencha o nome do enxadrista logo abaixo, conforme consta no campo e clique em pesquisar. Insira a informação do enxadrista da coluna "ID LBX".<br />
                      <hr />
                      Caso possua alguma dúvida sobre como encontrar, confira o vídeo tutorial <a href="https://youtu.be/d0a0CS8WROY"
                        target="_blank">clicando aqui</a>.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-4">
                  <div class="form-group">
                    <h4>Lichess.org</h4>
                    <label for="entities_lichess">Possui cadastro no Lichess.org?</label>
                    <select id="entities_lichess" name="entities_lichess" class="form-select" [(ngModel)]="entities.lichess">
                      <option [value]="0">Não</option>
                      <option [value]="1">Sim</option>
                    </select>
                    <div *ngIf="entities.lichess > 0">
                      <label for="lichess_username">Insira seu Nome de Usuário do Lichess.org</label>
                      <input name="lichess_username" id="lichess_username" class="form-control cadastro_enxadrista_input" type="text"
                          [(ngModel)]="field_values['lichess_username']" />
                      Site da Plataforma: <a href="http://lichess.org" target="_blank">http://lichess.org</a>.<br />
                      Tutorial para Cadastro no Lichess.org: <a href="https://youtu.be/FtXj5dHI-Mg"
                        target="_blank">https://youtu.be/FtXj5dHI-Mg</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <h4>Chess.com</h4>
                    <label for="entities_chess_com">Possui cadastro no Chess.com?</label>
                    <select id="entities_chess_com" name="entities_chess_com" class="form-select" [(ngModel)]="entities.chess_com">
                      <option [value]="0">Não</option>
                      <option [value]="1">Sim</option>
                    </select>
                    <div *ngIf="entities.chess_com > 0">
                      <label for="chess_com_username">Insira seu Nome de Usuário do Chess.com</label>
                      <input name="chess_com_username" id="chess_com_username" class="form-control cadastro_enxadrista_input"
                        type="text"  [(ngModel)]="field_values['chess_com_username']" />
                      Site da Plataforma: <a href="http://chess.com" target="_blank">http://chess.com</a>.<br />
                      Tutorial para Cadastro no Chess.com: <a href="https://youtu.be/H9eJW1Z3qzQ"
                        target="_blank">https://youtu.be/H9eJW1Z3qzQ</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <button type="button" class="btn btn-danger" (click)="backToPage3()">Voltar Etapa (3 - {{tab_names[3]}})</button>
              <button type="button" class="btn btn-success pull-right" (click)="goToPage5()">Próxima Etapa (5 -
                {{tab_names[5]}})</button></ng-template>
          </li>
          <li [ngbNavItem]="5" [disabled]="true">
            <a ngbNavLink>5 - {{tab_names[5]}}</a>
            <ng-template ngbNavContent>
              <div class="form-group mb-2">
                <label for="country_id" class="field-required">País do Vínculo *</label>
                <select2 [data]="countries" [value]="country_id" id="country_id" name="country_id"
                  class="form-control"
                  (update)="updateCountry($event)"> </select2>
              </div>
              <div class="form-group mb-2">
                <label for="state_id" class="field-required">Estado do Vínculo *</label>
                <select2 [data]="states" [value]="state_id" id="state_id" name="state_id"
                  class="form-control"
                  (update)="updateState($event)"> </select2>
                <p *ngIf="country_id > 0 && country_id !== 33">Caso seu estado não apareça na busca, você pode cadastrá-lo clicando <a
                    href="#" (click)="openNewStateModal(newStateModelContent)">aqui</a>.</p>
              </div>
              <div class="form-group mb-2">
                <label for="city_id" class="field-required">Cidade do Vínculo *</label>
                <select2 [data]="cities" [value]="city_id" id="city_id" name="city_id"
                  class="form-control"
                  (update)="updateCity($event)"> </select2>
                <p *ngIf="country_id > 0 && country_id !== 33">Caso sua cidade não apareça na busca, você pode cadastrá-lo clicando <a
                    href="#" (click)="openNewCityModal(newCityModelContent)">aqui</a>.</p>
              </div>
              <div class="form-group mb-2">
                <label for="club_id">Clube/Instituição/Escola</label>
                <select2
                  [data]="clubs"
                  [value]="club_id"
                  minCountForSearch="0"
                  [customSearchEnabled]="true"
                  styleMode="default"
                  noResultMessage="Nenhum clube encontrado - Digite e efetue uma pesquisa..."
                  name="club_id"
                  class="form-control"
                  (update)="updateClub($event)"
                  (search)="searchClubs($event)"> </select2>
                  <p>Caso seu clube não apareça na busca, você pode cadastrá-lo clicando <a href="#" (click)="openNewClubModal(newClubModelContent)">aqui</a>.</p>
              </div>
                <div class="form-group mb-2">
                    <label class="field-required">
                      <input type="checkbox" name="xadrezsuico_accept" [checked]="accepts.policy" (change)="updateAcceptPolicy($event)"> Eu
                      aceito o <a href="/page/termosdeuso" target="_blank">termo de uso</a> e a <a href="/page/politicadeprivacidade"
                        target="_blank">política de privacidade</a> da Plataforma de Gerenciamento de Circuitos de Xadrez - XadrezSuíço.
                    </label><br />
              </div>
              <hr/>
              <button type="button" class="btn btn-danger" (click)="backToPage4()">Voltar Etapa (4 - {{tab_names[4]}})</button>
              <button type="submit" class="btn btn-success pull-right">Efetuar Cadastro</button>
            </ng-template>
          </li>
          <li [ngbNavItem]="6" [disabled]="true" *ngIf="player">
            <a ngbNavLink>6 - {{tab_names[6]}}</a>
            <ng-template ngbNavContent>
              <div class="text-center">
                <h2>Cadastro do Enxadrista Realizado!</h2>
                <h3 *ngIf="is_a_sub_component">Vamos prosseguir com a inscrição?</h3>
                <button type="button" class="btn btn-success btn-lg" *ngIf="is_a_sub_component" (click)="selectPlayer(player)">Selecionar Este Enxadrista para a
                  Inscrição</button>
                <hr />
                <h4>Dados do Enxadrista:</h4>
                <h5><strong>ID:</strong> {{player.id}}</h5>
                <h6><strong>Nome:</strong> {{player.name}}</h6>
                <h6><strong>Data de Nascimento:</strong> {{player.birthday}}</h6>
                <h6><strong>Cidade:</strong> {{player.city_name}}</h6>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </form>

    </div>
  </div>
</div>
